/*
 * summer css
 */
a:hover, a:active {
	text-decoration:none;
}

#vm {
	display: none;
}
#loading {
	margin-bottom: 15px;
}

#error {
	display: none;
	margin-bottom: 15px;
}

.href_img32 {
	border:2px solid;
	border-radius:32px;
	width:32px;
	border-color:#C0C0C0;
}

.href_img16 {
	border:2px solid;
	border-radius:16px;
	width:16px;
	border-color:#C0C0C0;
}