{% extends '__base__.html' %}

{% block title %}关于我们{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

	<div class="uk-width-medium-1-6">
		<div class="uk-panel uk-panel-title">
			<h3 class="uk-panel-title">关于我们</h3>
			<ul class="uk-nav uk-nav-side uk-nav-sub">
				<li class="uk-active">作者简介</li>
			</ul>
		</div>
	</div>
	
	<div class="uk-width-medium-5-6">
		<div class="uk-block uk-block-default">
			<p>  版本：V2.0</p>
			<p>本博客网站作者为晟夏的叶，是他为自己心爱的女孩所写的，不以盈利性为目的，仅用于记录心情！</p>
		</div>
	</div>

{% endblock %}
