{% extends '__base__.html' %}

{% block title %}首页{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

	<div class="uk-width-medium-1-6">
		<ul class="uk-nav">
			<li class="uk-nav-header uk-nav-divider">博客分类列表
				<ul class="uk-nav-sub">
				{% for classification in classes %}
					<li><a href="/blogs/classes/{{ classification.name }}">{{classification.name}}</a></li>
				{% endfor %}
				</ul>
			</li>
			<li class="uk-nav-header uk-nav-divider">博客存档列表
				<ul class="uk-nav-sub">
				{% for date_blog in date_blogs %}
					<li><a href="/blogs/date/{{ date_blog }}">{{ date_blog }}</a></li>
				{% endfor %}
				</ul>
			</li>
		</ul>
	</div>

    <div class="uk-width-medium-4-6">
    {% for blog in blogs %}
        <article class="uk-article">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            <p>{{ blog.summary }}</p>
            <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
	{{ pagination('/?page=', page) }}
    </div>

    <div class="uk-width-medium-1-6">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li>
					<img src="/static/img/jianshu.png" width="16" height="16" class="href_img16">
					<a target="_blank" href="http://www.jianshu.com/">简书</a>
				</li>
                <li>
					<img src="/static/img/toutiao.jpg" width="16" height="16" class="href_img16">
					<a target="_blank" href="http://www.toutiao.com/">头条</a>
				</li>
            </ul>
        </div>
    </div>

{% endblock %}
