{% extends '__base__.html' %}

{% block title %}首页{% endblock %}

{% block beforehead %}

<script src="/static/js/components/pagination.js"></script>
<script>
$(function(){
	$("#blog_list").addClass("uk-active");
	$("#blog_edit").removeClass("uk-active");
	$("#manages").removeClass("uk-active");
	$("#info").removeClass("uk-active");
});
</script>
{% endblock %}

{% block content %}

	<div class="uk-width-medium-1-6">
		<ul class="uk-nav">
			<li class="uk-nav-header uk-nav-divider">博客分类列表
				<ul class="uk-nav-sub">
				{% for classification in classes %}
					<li><a href="/blogs/classes/{{ classification.id }}">{{classification.name}}</a></li>
				{% endfor %}
				</ul>
			</li>
			<li class="uk-nav-header uk-nav-divider">博客存档列表
				<ul class="uk-nav-sub">
				{% for date_blog in date_blogs %}
					<li><a href="/blogs/date/{{ date_blog }}">{{ date_blog }}</a></li>
				{% endfor %}
				</ul>
			</li>
		</ul>
	</div>

    <div class="uk-width-medium-4-6">
    {% for blog in blogs %}
        <article class="uk-article">
            <h2 class="uk-article-title"><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            <p>{{ blog.summary }}</p>
            <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
	<ul class="uk-pagination">
	{% if page.page_index == 1 %}
		<li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
	{% else %}
		<li><a href="/index/{{ page.page_index-1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
	{% endif %}
	{% for p in pages %}
	{% if p == page.page_index %}
		<li class="uk-active uk-disabled"><span>{{ p }}</span></li>
	{% else %}
		{% if page_flag == 0 %}
			<li><a href="/index/{{ p }}">{{ p }}</a></li>
		{% elif page_flag == 1 %}
			<li><a href="/blogs/classes/{{classes_id}}/{{ p }}">{{ p }}</a></li>
		{% else %}
			<li><a href="/blogs/date/{{blog_date}}/{{ p }}">{{ p }}</a></li>
		{% endif %}
	{% endif %}
	{% endfor %}
	{% if page.page_index == page.page_count %}
		<li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
	{% else %}
		<li><a href="/index/{{ page.page_index+1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
	{% endif %}
	</ul>
    </div>

    <div class="uk-width-medium-1-6">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li>
					<img src="/static/img/jianshu.png" width="16" height="16" class="href_img16">
					<a target="_blank" href="http://www.jianshu.com/">简书</a>
				</li>
                <li>
					<img src="/static/img/toutiao.jpg" width="16" height="16" class="href_img16">
					<a target="_blank" href="http://www.toutiao.com/">头条</a>
				</li>
            </ul>
        </div>
    </div>

{% endblock %}
