<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <meta charset="utf-8" />
    <title>写博客 - 晟夏的官方博客</title>
    <link rel="stylesheet" href="/static/css/uikit.summerEx.css" />
    <link rel="stylesheet" href="/static/css/summer.css" />
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/summer.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
	<script src="/static/js/sha1.min.js"></script>
	<script src="/static/js/sticky.min.js"></script>
	
	<link rel="stylesheet" href="/static/codemirror-5.25.0/lib/codemirror.css">
	<script src="/static/codemirror-5.25.0/lib/codemirror.js"></script>
	<script src="/static/codemirror-5.25.0/mode/markdown/markdown.js"></script>
	<script src="/static/codemirror-5.25.0/addon/mode/overlay.js"></script>
	<script src="/static/codemirror-5.25.0/mode/xml/xml.js"></script>
	<script src="/static/codemirror-5.25.0/mode/gfm/gfm.js"></script>
	<script src="/static/js/marked.js"></script>
	
	<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
	<!-- HTML 编辑器的 CSS 与 JavaScript -->
	<link rel="stylesheet" href="/static/css/components/htmleditor.css">
	<script src="/static/js/components/htmleditor.js"></script>
	<link rel="stylesheet" href="/static/css/components/upload.css" />
	<script src="/static/js/components/upload.js"></script>
	<script>

	var
		ID = '{{ id }}',
		cur_class = '{{ cur_class }}',
		isDraft = '{{ isDraft }}',
		action = '{{ action }}';
	function initVM(blog) {
		var vm = new Vue({
			el: '#vm',
			data: blog
		});
		$('#vm').show();
	}
	
	function saveBlog() {
		//add by guanyezhui 20171129
		var postAction = action;
		if ( isDraft != 1 ) {
			postAction = action + '/' + ID;
		}
		var content = document.getElementById('markdown-content').value;
		if ( content == undefined) {
			content = '';
		}
		postJSON(postAction, {
				name: document.getElementById('markdown-title').value,
				summary:document.getElementById('markdown-summary').value,
				content:content,
				classes_id:cur_class,
				is_draft: isDraft
			}, function (err, r) {
			if (err) {
				alert(err.message);
			}
			else {
				if ( isDraft == 0 ) {
					refresh();
				}
				else {
					return location.assign('/manage/blogs/create/' + cur_class);
				}
			}
		});
	}
	
	function blogClick(ID) {
		return location.assign('/manage/blogs/edit/'+ cur_class +'?id=' + ID);
	}
	
	function createBlogLi(cur_class) {
		var ulBlog = document.getElementById('ul-blog');
		var str = new String(ulBlog.innerHTML);
		if ( str.search('uk-icon-file-text-o') != -1) {
			getDraft(cur_class);
			return;
		}
		
		postJSON("/api/drafts", {
				name: '',
				summary:'',
				content:'',
				classes_id:cur_class
			}, function (err, r) {
			if (err) {
				alert(err.message);
			}
			else {
				getDraft(cur_class);
			}
		});
	}
	
	function getDraft(cur_class) {
		return location.assign('/manage/blogs/create/' + cur_class + '?isDraft=1');
	}
	
	function addNewClass() {
		var newClass = document.getElementById('new-class');
		if ( newClass.value != "" ) {
			postJSON("/api/classes", {name: newClass.value,}, function (err, r) {
					if (err) {
							alert(err.message);
						}
						else {
							return location.assign('/manage/blogs/create/' + className);
						}
			});
		}
		else {
			alert('请输入分类名');
		}
	}
	
	function cancelAdd() {
		var addClass = document.getElementById('add-class');
		addClass.removeChild(addClass.childNodes[0]);
		addClass.removeChild(addClass.childNodes[0]);
	}
	
	function createClass() {
		var addClass = document.getElementById('add-class');
		var formRow1 = document.createElement('div');
		formRow1.className = 'uk-form-row';
		formRow1.id = 'formrow1';
		var newClass = document.createElement('input');
		newClass.setAttribute("type", "text");
		newClass.setAttribute("placeholder", "请输入分类名...");
		newClass.id = 'new-class';
		newClass.className = 'uk-width-1-1';
		formRow1.appendChild(newClass)

		var formRow2 = document.createElement('div');
		formRow2.className = 'uk-form-row';
		formRow2.id = 'formRow2';
		var span = document.createElement('span');
		
		var okButton = document.createElement('button');
		okButton.className = 'uk-button uk-button-success';
		okButton.onclick = addNewClass;
		okButton.setAttribute('type','submit');
		okButton.innerHTML = "<i class=\"uk-icon-check\"></i>提交";
		
		var cancelButton = document.createElement('button');
		cancelButton.className = 'uk-button';
		cancelButton.setAttribute('type','button');
		cancelButton.onclick = cancelAdd;
		cancelButton.innerHTML = '<i class="uk-icon-close"></i><a href="/">取消</a>';
		
		span.appendChild(okButton);
		span.appendChild(cancelButton);
		formRow2.appendChild(span);
		
		addClass.appendChild(formRow1);
		addClass.appendChild(formRow2);
	}
	
	function saveDraft() {
		var ulBlog = document.getElementById('ul-blog');
		var str = new String(ulBlog.firstElementChild.innerHTML);
		if ( str.search('uk-icon-file-text-o') == -1 ) {
			return;
		}
		postJSON("/api/drafts", {
				name: document.getElementById('markdown-title').value,
				summary:document.getElementById('markdown-summary').value,
				content:document.getElementById('markdown-content').value,
				classes_id:cur_class
			}, function (err, r) {
			if (err) {
				alert(err.message);
			}
			else {
				return location.assign('/manage/blogs/create/' + cur_class);
			}
		});
	}
	
	$(function () {
		var settings = {
			markdown:true,
			lblPreview:'预览'
		};
		if (ID) {
			getJSON('/api/blogs/' + ID, function (err, blog) {
				if (err) {
					return alert(err);
				}
				<!-- htmleditor.editor是Codemirror对象 -->
				var htmleditor = UIkit.htmleditor(document.getElementById('markdown-content'));
				htmleditor.editor.setValue(blog.content);
				initVM(blog);
			});
			var htmleditor = UIkit.htmleditor($("#markdown-content"), settings);
		}
		else {
			if (isDraft == 1) {
				settings = {
					markdown:true,
					lblPreview:'预览',
					isDraft:true
				};
				var ulBlog = document.getElementById('ul-blog');
				var str = new String(ulBlog.innerHTML);
				if ( str.search('uk-icon-file-text-o') != -1) {
					ulBlog.firstElementChild.setAttribute('style','background:#F4F4F4;');
				}
				getJSON('/api/drafts/' + cur_class, function (err, draft) {
					if (err) {
						return fatal(err);
					}
					<!-- htmleditor.editor是Codemirror对象 -->
					var htmleditor = UIkit.htmleditor(document.getElementById('markdown-content'));
					htmleditor.editor.setValue(draft.content);
					initVM( {
						name: draft.name,
						summary: draft.summary,
						content: draft.content
					});
				});
			}
			else {
				initVM( {
					name: '',
					summary: '',
					content: ''
				});
			}
			var htmleditor = UIkit.htmleditor($("#markdown-content"), settings);
		}
	});
	</script>
</head>
<body class="uk-height-1-1">
	<div class="uk-grid uk-grid-collapse uk-height-1-1">
		<div class="uk-width-1-6" style="background: #6699CC;color: #ffffff;">
			</br>
			</br>
			<center><button class="uk-button uk-width-7-10" style="border-radius: 20px;"><a href="/">回首页</a></button></center>
			</br>
			<a onclick="createClass()" class="uk-button"><i class="uk-icon-plus"></i>新分类</a>
			</br>
			</br>
			<form id="add-class" class="uk-form"></form>
			<ul class="uk-nav uk-nav-side" >
				<li class="uk-nav-header">分类列表</li>
				{% for classification in classes %}
				{% if classification.id == cur_class %}
				<li class="uk-active"><a href="/manage/blogs/create/{{ classification.id }}">{{ classification.name }}</a></li>
				{% else %}
				<li><a href="/manage/blogs/create/{{ classification.id }}">{{ classification.name }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		
		<div class="uk-width-1-6">
			</br>
			</br>
			<div class="uk-text-center"><a onclick="createBlogLi('{{ cur_class }}')" class="uk-button uk-container-center"><i class="uk-icon-plus-circle"></i>新建博客</a></div>
			</br>
			<ul id="ul-blog" class="uk-nav uk-nav-side">
				<!-- 如有保存的草稿,需显示出来-->
				{% for draft in drafts %}
				<li>
					<a href="javascript:getDraft('{{ cur_class }}')" style="color:black;">
						<div class="uk-grid uk-grid-collapse">
							<div class="uk-width-1-6 ">
								<i class="uk-icon-file-text-o uk-icon-small uk-margin-top uk-margin-bottom"></i>
							</div>
							<div class="uk-width-5-6">
								<p class="uk-margin-small-top uk-margin-small-bottom">保存的草稿</br>保存的草稿</p>
							</div>
						</div>
					</a>
				</li>
				{% endfor %}
				{% for blog in blogs %}
				{% if blog.id == id %}
				<li class="uk-active">
				{% else %}
                <li>
				{% endif %}
					<a href="javascript:blogClick('{{ blog.id }}')" style="color:black;">
						<div class="uk-grid uk-grid-collapse">
							<div class="uk-width-1-6 ">
								<i class="uk-icon-file-text uk-icon-small uk-margin-top uk-margin-bottom"></i>
							</div>
							<div class="uk-width-4-6">
								<p class="uk-margin-small-top uk-margin-small-bottom">{{ blog.name }}</br>{{ blog.summary }}</p>
							</div>
						</div>
					</a>
				</li>
				{% endfor %}
            </ul>
		</div>
		
		<div id="vm" class="uk-width-4-6">
			</br>
			<form class="uk-form uk-form-stacked">
				<div class="uk-alert uk-alert-danger uk-hidden"></div>
				<div class="uk-form-row">
					<div class="uk-form-controls">
						<input id="markdown-title" v-model="name" name="name" type="text" placeholder="标题" class="uk-width-1-1">
					</div>
				</div>
				<div class="uk-form-row">
					<div class="uk-form-controls">
						<textarea id="markdown-summary" v-model="summary" rows="2" name="summary" placeholder="摘要" class="uk-width-1-1" style="resize:none;"></textarea>
					</div>
				</div>
				<div class="uk-form-row">
					<div class="uk-form-controls">
						<textarea id="markdown-content" v-model="content" name="content"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
