<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - 晟夏的叶的博客</title>
    <link rel="stylesheet" href="/static/css/uikit.summerEx.css" />
    <link rel="stylesheet" href="/static/css/summer.css" />
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/summer.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
	<script src="/static/js/sha1.min.js"></script>
	<script src="/static/js/sticky.min.js"></script>
	
	<link rel="stylesheet" href="/static/css/components/sticky.min.css">
	<script src="/static/js/components/sticky.min.js"></script>
	
	<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    {% block beforehead %}<!-- before head  -->{% endblock %}
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?bf304bcb3a1444b2650dda7a0fec6a83";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom" data-uk-sticky>
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand uk-animation-scale-down uk-animation-fade">晟夏的叶的博客</a>
            <ul class="uk-navbar-nav">
                <li id="blog_list" data-url="blogs"><a href="/"><i class="uk-icon-home"></i>博客列表</a></li>
				{% if __user__.admin %}
					<li id="blog_edit"><a href="/manage/blogs/create"><i class="uk-icon-edit"></i>写博客</a></li>
					<li id="manages" class="uk-parent" data-uk-dropdown><a href="/manage/blogs"><i class="uk-icon-cog"></i>管理</a>
						<div class="uk-dropdown uk-dropdown-navbar">
							<ul class="uk-nav uk-nav-navbar">
								<li><a href="/manage/comments"><i class="uk-icon-comments"></i>管理评论</a></li>
								<li><a href="/manage/blogs"><i class="uk-icon-book"></i>管理博客</a></li>
								<li><a href="/manage/users"><i class="uk-icon-users"></i>管理用户</a></li>
								<li><a href="/manage/classes"><i class="uk-icon-hand-spock-o"></i>管理分类</a></li>
							</ul>
						</div>
					</li>
				{% endif %}
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                {% if __user__ %}
                    <li id="info" class="uk-parent" data-uk-dropdown>
                        <a href="/"><i class="uk-icon-user"></i> {{ __user__.name }} </a>
                        <div class="uk-dropdown uk-dropdown-navbar">
							<ul class="uk-nav uk-nav-navbar">
                                <li><a href="/userinfo/{{ __user__.id }}"><i class="uk-icon-info"></i>个人资料</a></li>
                            </ul>
							<ul class="uk-nav uk-nav-navbar">
                                <li><a href="/mdf-passwd"><i class="uk-icon-user-secret"></i>修改密码</a></li>
                            </ul>
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="/signout"><i class="uk-icon-sign-out"></i>登出</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="/signin"><i class="uk-icon-sign-in"></i>登陆</a></li>
                    <li><a href="/register"><i class="uk-icon-registered"></i>注册</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
	
	<!--div class="uk-grid">
		<div class="uk-slidenav-position uk-width-medium-1-1">
			<img width="1920" height="460" src="/static/img/维多利亚.jpg" alt="">
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"></a>
			<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next"></a>
		</div>
	</div-->

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

    <div class="uk-margin-large-top" style="background-color:#rgba(247, 253, 245, 0.08); border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="http://mp.weixin.qq.com/s/og0eRrEnWKoqyrShxrGDmQ" class="uk-icon-button uk-icon-wechat">
					</a>
                    <a target="_blank" href="https://www.jianshu.com/u/e8c7bb5e3257" >
						<img src="/static/img/jianshu.png" width="32" height="32" class="href_img32">
					</a>
                </p>
                <p>Copyright &copy; 2019. Powered by 晟夏的叶的博客. </p>
                <p><a href="/about">关于我们</a>   粤ICP备18021816号.</p>
				<p>网站作者：晟夏的叶</p>
            </div>

        </div>
    </div>
	
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?type=left&btn=l3.gif&move=0" charset="utf-8"></script>
<!-- JiaThis Button END -->
	
</body>
</html>
