{% extends '__base__.html' %}

{% block title %}关于我们{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

	<div class="uk-width-medium-1-6">
		<div class="uk-panel uk-panel-title">
			<h3 class="uk-panel-title">关于我们</h3>
			<ul class="uk-nav uk-nav-side uk-nav-sub">
				<li class="uk-active">作者简介</li>
			</ul>
		</div>
	</div>
	
	<div class="uk-width-medium-5-6">
		<div class="uk-block uk-block-default">
			<p>  版本：V1.0</p>
			<p>本博客网站作者为晟夏的叶(邮箱:guanyezhui@163.com)，专注于分享服务器开发相关知识，欢迎交流！</p>
		</div>
	</div>

{% endblock %}
